/* Base styles for the entire body, setting the font and a default margin */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Updated for a more modern look */
    margin: 0; /* Remove default margin */
    line-height: 1.6;
    color: #333;
    background-color: #e4e4e4; /* Soft background color for minimalistic design */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* Title bar at the top of the page */
.title-bar {
    background-color: #374b60; /* A more vibrant color for the title bar */
    color: #fff; /* Ensure text color is white for contrast */
    padding: 15px 0; /* Slightly reduced padding for a slimmer bar */
    font-size: 28px; /* Slightly larger font for emphasis */
    width: 100%;

    display: flex; /* Added for Flexbox layout */
    align-items: center; /* Centers items vertically in the container */
    justify-content: center; /* Centers items horizontally in the container */
}


/* Navigation Menu Styles */
.navigation-menu ul {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    display: flex; /* Align menu items in a row */
    justify-content: center; /* Center the menu items horizontally */
    background-color: #f0f0f0; /* Light background color for the menu */
}

.navigation-menu li {
    padding: 10px 20px; /* Spacing around menu items */
}

.navigation-menu a {
    text-decoration: none; /* Remove underline from links */
    color: #374b60; /* Color that matches the title bar for consistency */
    font-weight: bold; /* Make menu items stand out */
    background-color: transparent; /* Remove any background color */
}

.navigation-menu a:hover {
    color: #007bff; /* Change color on hover for interactivity */
}

/* Styles for the main titles within content sections */
h1 {
    font-size: 2.2em; /* Larger size for main titles */
    color: #374b60; /* Color matching the title bar for consistency */
    /* Removed the bottom border from h1 to keep the top title clean */
}

/* Styles for subtitles to distinguish them from regular text */
h2 {
    font-size: 2em; /* Substantial size for subtitles */
    color: #333; /* Darker color for contrast */
    margin-top: 2em; /* Increased space above subtitles for clear separation */
    padding-top: 1em; /* Space above the border */
    position: relative; /* Needed for positioning the pseudo-element */
    z-index: 1; /* Ensure the text is above the pseudo-element */
}

h2::after {
    content: ''; /* Required for pseudo-elements */
    display: block; /* Make it a block-level element */
    width: 100%; /* Match the width of the h2 element */
    height: 20px; /* Increased thickness of the underline */
    background-image: linear-gradient(to right, rgb(26, 132, 185, 0.3), transparent); /* Gradient effect */
    position: absolute; /* Position relative to the h2 */
    left: 0; /* Align with the left edge of the h2 */
    bottom: -3px; /* Closer to the text, adjust as needed */
    z-index: -1; /* Place the underline behind the text */
}

/* Styles for smaller section titles or subheadings */
h3 {
    font-size: 1.6em; /* Slightly smaller than h2 for hierarchy */
    color: #4a6178; /* A different shade to distinguish from h1 and h2, still within the color scheme */
    margin-top: 2em; /* Adequate space above h3 for separation */
    margin-bottom: -0.1em; /* Reduced space below h3 for closer proximity to the content */
    padding-bottom: 0.5em; /* Space above the underline */
}

/* Styles for the main content section */
.content-section {
    background-color: #fbfbfb; /* White background for the content area */
    width: 90%; /* Responsive width */
    max-width: 1000px;
    padding: 30px; /* Increased padding for more space */
    box-sizing: border-box;
    margin: 20px 0; /* Space around the content section */
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

li {
    margin-bottom: 5px; /* Adjust the amount of space between list items */
    margin-top: 5px; /* Adjust the amount of space between list items */
}

a {
    color: #007bff; /* A vivid and distinct blue color for immediate recognition as a link */
    text-decoration: underline; /* An underline to signify clickability */
    font-weight: bold; /* Bold text for added emphasis */
    background-color: rgba(0, 123, 255, 0.1); /* A subtle background highlight for standout visibility */
    padding: 0px 3px; /* Reduced vertical padding with maintained horizontal padding */
    border-radius: 3px; /* Rounded corners for a modern, friendly appearance */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions for background and text color on hover */
}

a:hover, p a:focus {
    background-color: rgba(0, 123, 255, 0.2); /* Darker background on hover/focus for interactive feedback */
    color: #0056b3; /* A deeper blue for text on hover/focus for contrast and attention */
    text-decoration: none; /* Removing underline on hover/focus for a cleaner look */
}


/* Container for smaller images and their captions */
.small-image-container {
    max-width: calc(50% - 10px); /* Two items side by side, accounting for gap */
    width: 100%;
    margin-top: 30px; /* Space on top of the container */
    margin-bottom: 10px; /* Space below the container */
    display: inline-block; /* Allows side by side arrangement */
}

.small-images-flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Container for medium images and their captions */
.medium-image-container {
    max-width: 60%; /* Medium width of the container */
    width: 100%; /* Responsive width */
    margin-top: 30px; /* Space above the container */
    margin-bottom: 10px; /* Space below the container */
    display: block; /* Ensures it takes up the full width available */
    margin-left: auto; /* Centers the container */
    margin-right: auto; /* Centers the container */
}

/* Container for larger images and their captions */
.large-image-container {
    max-width: 100%; /* Full width of the container */
    width: 100%;
    margin-top: 30px; /* Space below the container */
    margin-bottom: 10px; /* Space below the container */
    display: block; /* Ensures it takes up the full width available */
}

img {
    max-width: 100%; /* Image fits its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0px; /* No rounded corners */
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    object-fit: cover; /* Cover the area, might crop if aspect ratio differs */
}

.caption {
    background-color: rgba(225, 225, 225, 0.5);
    color: #000000;
    text-align: left;
    padding: 10px;
    border-radius: 0px; /* No rounded corners */
    width: calc(100% - 20px); /* Full width of container minus padding */
    margin-top: -6px; /* Reduce gap between image and caption */
    margin-bottom: 20px; /* Reduce gap between image and caption */
}

@media (max-width: 600px) {
    .small-img-container,
    .medium-img-container,
    .large-img-container {
        max-width: 100%; /* Adjust for smaller screens */
        margin: 0 auto 20px; /* Center and add space below */
    }
}

.icon {
    width: 30px;  /* Adjust the width as needed */
    vertical-align: middle;
    margin-right: 0px;
    box-shadow: none; /* Removes the shadow effect */
}


/* Styles for displaying code blocks */
pre {
    background-color: #e8e8e8; /* Light grey background for visibility */
    border-left: 8px solid #374b60; /* Accent color bar on the left for differentiation */
    padding: 15px; /* Padding for inner spacing */
    overflow-x: auto; /* Allows horizontal scrolling for longer lines of code */
    font-size: 0.95em; /* Adjust font size for readability */
    margin: 20px 0; /* Vertical spacing around code blocks */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Sans-serif font for the text */
    color: #2a2a2a; /* Color for the text */
    display: block; /* Ensure it's block-level for proper layout */
    width: auto; /* Let it naturally occupy the required width */
    max-width: 100%; /* Prevent it from extending beyond its container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}


code {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace; /* Monospace font for code */
    background-color: #d1d1d1; /* Slightly different background color for contrast */
    padding: 1px 4px; /* Reduced top and bottom padding to make the box narrower */
    border-radius: 3px; /* Rounded corners for a modern look */
    color: #000000; /* Dark color for text */
    display: inline-block; /* Treat code snippets as inline blocks for better control */
    margin: 2px 2px; /* Added vertical margin for space between lines */
    box-sizing: border-box; /* Include padding in the element's total width */
    word-break: break-all; /* Allow the URL to break mid-word when necessary */
    white-space: pre-wrap; /* Preserve whitespace and line breaks */
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    overflow-wrap: break-word; /* Ensure that long words wrap to the next line */
}




.highlight-image {
    display: inline-block;
    padding: 0px 4px; /* Adjusts the size of the square */
    background-color: rgba(0, 255, 255, 0.5);
    color: #000000; /* White text color for contrast */
    text-align: center;
    line-height: normal; /* Adjust as needed */
    font-weight: bold; /* Optional: makes the letter bold */
  }

  .highlight-text {
    background-color: #cad3d5; /* Slightly darker greyish background for better visibility */
    padding: 0px 3px; /* Reduced padding for a tighter box */
    display: inline; /* Use inline to avoid affecting line height */
    color: #000000; /* Dark grey color for the text for readability */
    margin: 0 2px; /* Add a small margin to prevent text from clumping together */
}






  
